# shellcheck shell=bash

# If .env missing; restore from .env.sample and validate
# See https://github.com/direnv/direnv/wiki/.envrc-Boilerplate
if [[ -f .env.sample ]]; then
  if [[ ! -f .env ]]; then
    if ! command -v createnv > /dev/null; then
      echo 'WARN|Createnv missing; try: pyenv local 3.x && pip install createnv'
    else
      createnv --use-default --overwrite || echo 'ERROR|https://github.com/cuducos/createnv'
      if command dotenv-linter --version >&/dev/null; then
        dotenv-linter .env || echo 'ERROR|https://dotenv-linter.github.io'
      fi
    fi
  fi
fi

dotenv_if_exists || direnv status # https://direnv.net/man/direnv-stdlib.1.html
