# MacOS file viewer garbage.
.DS_Store

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Emacs garbage
*~

# Vim garbage
*.swp

# VSCode config
.vscode

# JetBrains IDE config
.idea

# Python
*.pyc

# Release-generated source archives, just in case they get committed
# accidentally.
cmd/*/kodata/source.tar.gz

# binaries
test/pullrequest/pullrequest-init
/.bin/
/bin/

# Temporary GOPATH used during code gen if user's Tekton checkout is
# not already in GOPATH.
.gopath
