/*

Add styles or override variables from the theme here.

*/

$td-fonts-serif: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$td-enable-google-fonts: false;
$light: #929292 !default;
$dark: #333 !default;
$mobile-width: 767px;