apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.0
  labels:
    app.kubernetes.io/instance: default
    app.kubernetes.io/part-of: tekton-pipelines
    pipeline.tekton.dev/release: devel
    version: devel
  name: pipelineresources.tekton.dev
spec:
  group: tekton.dev
  names:
    categories:
    - tekton
    - tekton-pipelines
    kind: PipelineResource
    listKind: PipelineResourceList
    plural: pipelineresources
    singular: pipelineresource
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: PipelineResource describes a resource that is an input to or output from a Task.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: Spec holds the desired state of the PipelineResource from the client
            properties:
              description:
                description: Description is a user-facing description of the resource that may be used to populate a UI.
                type: string
              params:
                items:
                  description: ResourceParam declares a string value to use for the parameter called Name, and is used in the specific context of PipelineResources.
                  properties:
                    name:
                      type: string
                    value:
                      type: string
                  required:
                  - name
                  - value
                  type: object
                type: array
              secrets:
                description: Secrets to fetch to populate some of resource fields
                items:
                  description: SecretParam indicates which secret can be used to populate a field of the resource
                  properties:
                    fieldName:
                      type: string
                    secretKey:
                      type: string
                    secretName:
                      type: string
                  required:
                  - fieldName
                  - secretKey
                  - secretName
                  type: object
                type: array
              type:
                type: string
            required:
            - params
            - type
            type: object
          status:
            description: Status is deprecated. It usually is used to communicate the observed state of the PipelineResource from the controller, but was unused as there is no controller for PipelineResource.
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: PipelineResource describes a resource that is an input to or output from a Task.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: Spec holds the desired state of the PipelineResource from the client
            properties:
              description:
                description: Description is a user-facing description of the resource that may be used to populate a UI.
                type: string
              params:
                items:
                  description: ResourceParam declares a string value to use for the parameter called Name, and is used in the specific context of PipelineResources.
                  properties:
                    name:
                      type: string
                    value:
                      type: string
                  required:
                  - name
                  - value
                  type: object
                type: array
              secrets:
                description: Secrets to fetch to populate some of resource fields
                items:
                  description: SecretParam indicates which secret can be used to populate a field of the resource
                  properties:
                    fieldName:
                      type: string
                    secretKey:
                      type: string
                    secretName:
                      type: string
                  required:
                  - fieldName
                  - secretKey
                  - secretName
                  type: object
                type: array
              type:
                type: string
            required:
            - params
            - type
            type: object
          status:
            description: Status is deprecated. It usually is used to communicate the observed state of the PipelineResource from the controller, but was unused as there is no controller for PipelineResource.
            type: object
        type: object
    served: true
    storage: false
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
