# Copyright 2018 The Knative Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: tekton-pipelines-controller
  namespace: tekton-pipelines
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: tekton-pipelines-controller
    spec:
      serviceAccountName: tekton-pipelines-controller
      containers:
      - name: tekton-pipelines-controller
        image: github.com/tektoncd/pipeline/cmd/controller
        args: [
          "-logtostderr",
          "-stderrthreshold", "INFO",
          "-kubeconfig-writer-image", "github.com/tektoncd/pipeline/cmd/kubeconfigwriter",
          "-creds-image", "github.com/tektoncd/pipeline/cmd/creds-init",
          "-git-image", "github.com/tektoncd/pipeline/cmd/git-init",
          "-nop-image", "github.com/tektoncd/pipeline/cmd/nop",
          "-bash-noop-image", "github.com/tektoncd/pipeline/cmd/bash",
          "-gsutil-image","github.com/tektoncd/pipeline/cmd/gsutil",
          "-entrypoint-image", "github.com/tektoncd/pipeline/cmd/entrypoint",
          "-imagedigest-exporter-image", "github.com/tektoncd/pipeline/cmd/imagedigestexporter",
        ]
        volumeMounts:
        - name: config-logging
          mountPath: /etc/config-logging
      volumes:
        - name: config-logging
          configMap:
            name: config-logging
