# The chatops_retest workflow reruns failed GHA for a PR
#
# This workflow is triggered by leaving a "/retest" comment on
# a pull request. If the required preconditions are met, it will
# rerun failed GitHub actions checks on that PR
#
# Condition for the "/retest" command are:
# - either the issuer is a maintainer
# - or the issuer is the owner the PR
name: Rerun Failed Actions

permissions:
  contents: read

on:
  repository_dispatch:
    types: [retest-command]

jobs:
  retest:
    name: Rerun Failed Actions
    uses: tektoncd/plumbing/.github/workflows/_chatops_retest.yml@48c53b4e7f1e0bb206575b80eb9fcf07b5854907  # main
    secrets: inherit
