name: Tekton Integration
# Adapted from https://github.com/mattmoor/mink/blob/master/.github/workflows/minkind.yaml

on:
  workflow_call:
    inputs:
      minimal:
        description: 'Run minimal matrix (aka only one job)'
        required: false
        type: boolean
        default: false

defaults:
  run:
    shell: bash

jobs:
  e2e-tests:
    concurrency:
      group: ${{ github.workflow }}-${{ matrix.os }}-${{ matrix.k8s-name }}-${{ matrix.feature-flags }}-${{ github.event.pull_request.number || github.ref }}
      cancel-in-progress: true
    name: e2e tests
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false # Keep running if one leg fails.
      matrix:
        os:
        - ubuntu-latest     # amd64
        - ubuntu-24.04-arm  # arm64

        k8s-name:
        - k8s-oldest             # 1.28
        - k8s-latest             # 1.34

        feature-flags:
        - stable
        - beta
        - alpha

        include:
        - k8s-name: k8s-oldest
          k8s-version: v1.28.x
        - k8s-name: k8s-latest
          k8s-version: v1.34.x

        # Limit arm64: only run k8s-latest on arm64 (stable), skip oldest on arm64
        exclude:
        - k8s-name: k8s-oldest
          os: ubuntu-24.04-arm
        - k8s-name: k8s-latest
          os: ubuntu-24.04-arm
          feature-flags: beta
        - k8s-name: k8s-latest
          os: ubuntu-24.04-arm
          feature-flags: alpha
    env:
      KO_DOCKER_REPO: registry.local:5000/tekton
      CLUSTER_DOMAIN: c${{ github.run_id }}.local
      ARTIFACTS: ${{ github.workspace }}/artifacts
      KOCACHE: /tmp/ko-cache

    steps:
    - name: Free disk space
      if: |
        matrix.os != 'ubuntu-24.04-arm' &&
        (!inputs.minimal || (matrix.os == 'ubuntu-latest' && matrix.k8s-name == 'k8s-latest' && matrix.feature-flags == 'stable'))
      run: |
        echo "--- Disk space before cleanup ---"
        df -h
        sudo rm -rf /usr/share/dotnet
        sudo rm -rf /usr/local/lib/android
        sudo rm -rf /opt/ghc
        sudo rm -rf /opt/hostedtoolcache/CodeQL
        sudo docker image prune -a -f
        echo "--- Disk space after cleanup ---"
        df -h
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      if: ${{ !inputs.minimal || (matrix.os == 'ubuntu-latest' && matrix.k8s-name == 'k8s-latest' && matrix.feature-flags == 'stable') }}
    - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5  # v6.2.0
      if: ${{ !inputs.minimal || (matrix.os == 'ubuntu-latest' && matrix.k8s-name == 'k8s-latest' && matrix.feature-flags == 'stable') }}
      with:
        go-version-file: "go.mod"
    - name: Cache ko build cache
      uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684  # v4.2.3
      with:
        path: /tmp/ko-cache
        key: ${{ runner.os }}-${{ runner.arch }}-ko-${{ hashFiles('go.sum') }}
        restore-keys: |
          ${{ runner.os }}-${{ runner.arch }}-ko-
    - uses: ko-build/setup-ko@d006021bd0c28d1ce33a07e7943d48b079944c8d # v0.9
      if: ${{ !inputs.minimal || (matrix.os == 'ubuntu-latest' && matrix.k8s-name == 'k8s-latest' && matrix.feature-flags == 'stable') }}

    - name: Install Dependencies
      if: ${{ !inputs.minimal || (matrix.os == 'ubuntu-latest' && matrix.k8s-name == 'k8s-latest' && matrix.feature-flags == 'stable') }}
      working-directory: ./
      run: |
        echo '::group:: install go-junit-report'
        go install github.com/jstemmer/go-junit-report@v0.9.1
        echo '::endgroup::'

        echo '::group:: created required folders'
        mkdir -p "${ARTIFACTS}"
        echo '::endgroup::'

        echo "${GOPATH}/bin" >> "$GITHUB_PATH"

    - name: Run tests
      if: ${{ !inputs.minimal || (matrix.os == 'ubuntu-latest' && matrix.k8s-name == 'k8s-latest' && matrix.feature-flags == 'stable') }}
      run: |
        # This is a hack to make sure binary in /bin from the base image are not picked by default
        # On ubuntu-arm, there is a /bin/go that shadows the one setup-go installs
        export PATH="$(echo "$PATH" | sed -e 's/^\/bin://'):/bin"
        export KO_DEFAULTPLATFORMS=linux/$(go env GOARCH)
        ./hack/setup-kind.sh \
          --registry-url $(echo ${KO_DOCKER_REPO} | cut -d'/' -f 1) \
          --cluster-suffix c${{ github.run_id }}.local \
          --nodes 3 \
          --k8s-version ${{ matrix.k8s-version }} \
          --e2e-script ./test/e2e-tests.sh \
          --e2e-env ./test/e2e-tests-kind-${{ matrix.feature-flags }}.env

    - name: Upload test results
      if: ${{ !inputs.minimal || (matrix.os == 'ubuntu-latest' && matrix.k8s-name == 'k8s-latest' && matrix.feature-flags == 'stable') }}
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: ${{ matrix.k8s-version }}-${{ matrix.feature-flags }}-${{ matrix.os }}
        path: ${{ env.ARTIFACTS }}

    - uses: chainguard-dev/actions/kind-diag@18e5e3427cf9d6bcfbefe60dca48e40292f000c5 # v1.5.13
      if: ${{ failure() }}
      with:
        artifact-name: ${{ matrix.k8s-version }}-${{ matrix.feature-flags }}-${{ matrix.os }}-logs

    - name: Dump Artifacts
      if: ${{ failure() }}
      run: |
        if [[ -d ${{ env.ARTIFACTS }} ]]; then
          cd ${{ env.ARTIFACTS }}
          for x in $(find . -type f); do
            echo "::group:: artifact $x"
            cat $x
            echo '::endgroup::'
          done
        fi
