name: Tekton Integration
# Adapted from https://github.com/mattmoor/mink/blob/master/.github/workflows/minkind.yaml

on: [ pull_request ]

defaults:
  run:
    shell: bash

jobs:
  e2e-tests:
    name: e2e tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false # Keep running if one leg fails.
      matrix:
        k8s-name:
        - k8s-oldest
        - k8s-plus-one

        feature-flags:
        - stable
        - beta
        - alpha
        # - prow-feature-flags  - this is tested today as a periodic job, but we could integrate it here

        include:
        - k8s-name: k8s-oldest
          k8s-version: v1.28.x
        - k8s-name: k8s-plus-one
          k8s-version: v1.29.x
        - feature-flags: stable
          env-file: prow
        - feature-flags: alpha
          env-file: prow-alpha
        - feature-flags: beta
          env-file: prow-beta
    env:
      GOPATH: ${{ github.workspace }}
      GO111MODULE: on
      KO_DOCKER_REPO: registry.local:5000/tekton
      CLUSTER_DOMAIN: c${{ github.run_id }}.local
      ARTIFACTS: ${{ github.workspace }}/artifacts

    steps:
    - name: Check out code onto GOPATH
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        path: ${{ github.workspace }}/src/github.com/tektoncd/pipeline


    - name: Set up Go (from go.mod)
      uses: actions/setup-go@41dfa10bad2bb2ae585af6ee5bb4d7d973ad74ed # v5
      with:
        go-version-file: ${{ github.workspace }}/src/github.com/tektoncd/pipeline/go.mod

    - name: Install Dependencies
      working-directory: ./
      run: |
        echo '::group:: install ko'
        curl -L https://github.com/ko-build/ko/releases/download/v0.15.4/ko_0.15.4_Linux_x86_64.tar.gz | tar xzf - ko
        chmod +x ./ko
        sudo mv ko /usr/local/bin
        echo '::endgroup::'

        echo '::group:: install go-junit-report'
        go install github.com/jstemmer/go-junit-report@v0.9.1
        echo '::endgroup::'

        echo '::group:: created required folders'
        mkdir -p "${ARTIFACTS}"
        echo '::endgroup::'

        echo "${GOPATH}/bin" >> "$GITHUB_PATH"

    - name: Run tests
      working-directory: ${{ github.workspace }}/src/github.com/tektoncd/pipeline
      run: |
        ./hack/setup-kind.sh \
          --registry-url $(echo ${KO_DOCKER_REPO} | cut -d'/' -f 1) \
          --cluster-suffix c${{ github.run_id }}.local \
          --nodes 3 \
          --k8s-version ${{ matrix.k8s-version }} \
          --e2e-script ./test/e2e-tests.sh \
          --e2e-env ./test/e2e-tests-kind-${{ matrix.env-file }}.env

    - name: Upload test results
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.k8s-version }}-${{ matrix.feature-flags }}
        path: ${{ env.ARTIFACTS }}

    - uses: chainguard-dev/actions/kind-diag@main
      if: ${{ failure() }}
      with:
        artifact-name: ${{ matrix.k8s-version }}-${{ matrix.feature-flags }}-logs

    - name: Dump Artifacts
      if: ${{ failure() }}
      run: |
        if [[ -d ${{ env.ARTIFACTS }} ]]; then
          cd ${{ env.ARTIFACTS }}
          for x in $(find . -type f); do
            echo "::group:: artifact $x"
            cat $x
            echo '::endgroup::'
          done
        fi
