name: Tekton Integration
# Adapted from https://github.com/mattmoor/mink/blob/master/.github/workflows/minkind.yaml

on: [workflow_call]

defaults:
  run:
    shell: bash

jobs:
  e2e-tests:
    concurrency:
      group: ${{ github.workflow }}-${{ matrix.k8s-name }}-${{ matrix.feature-flags }}-${{ github.event.pull_request.number || github.ref }}
      cancel-in-progress: true
    name: e2e tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false # Keep running if one leg fails.
      matrix:
        k8s-name:
        - k8s-oldest             # 1.28
        - k8s-latest-minus-three # 1.29
        - k8s-latest-minus-two   # 1.30
        - k8s-latest-minus-one   # 1.31
        - k8s-latest             # 1.32

        feature-flags:
        - stable
        - beta
        - alpha
        # - prow-feature-flags  - this is tested today as a periodic job, but we could integrate it here

        include:
        - k8s-name: k8s-oldest
          k8s-version: v1.28.x
        - k8s-name: k8s-latest-minus-three
          k8s-version: v1.29.x
        - k8s-name: k8s-latest-minus-two
          k8s-version: v1.30.x
        - k8s-name: k8s-latest-minus-one
          k8s-version: v1.31.x
        - k8s-name: k8s-latest
          k8s-version: v1.32.x
        - feature-flags: stable
          env-file: prow
        - feature-flags: alpha
          env-file: prow-alpha
        - feature-flags: beta
          env-file: prow-beta
    env:
      KO_DOCKER_REPO: registry.local:5000/tekton
      CLUSTER_DOMAIN: c${{ github.run_id }}.local
      ARTIFACTS: ${{ github.workspace }}/artifacts

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
    - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5  # v5.5.0
      with:
        go-version-file: "go.mod"
    - uses: ko-build/setup-ko@v0.9

    - name: Install Dependencies
      working-directory: ./
      run: |
        echo '::group:: install go-junit-report'
        go install github.com/jstemmer/go-junit-report@v0.9.1
        echo '::endgroup::'

        echo '::group:: created required folders'
        mkdir -p "${ARTIFACTS}"
        echo '::endgroup::'

        echo "${GOPATH}/bin" >> "$GITHUB_PATH"

    - name: Run tests
      run: |
        ./hack/setup-kind.sh \
          --registry-url $(echo ${KO_DOCKER_REPO} | cut -d'/' -f 1) \
          --cluster-suffix c${{ github.run_id }}.local \
          --nodes 3 \
          --k8s-version ${{ matrix.k8s-version }} \
          --e2e-script ./test/e2e-tests.sh \
          --e2e-env ./test/e2e-tests-kind-${{ matrix.env-file }}.env

    - name: Upload test results
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.k8s-version }}-${{ matrix.feature-flags }}
        path: ${{ env.ARTIFACTS }}

    - uses: chainguard-dev/actions/kind-diag@main
      if: ${{ failure() }}
      with:
        artifact-name: ${{ matrix.k8s-version }}-${{ matrix.feature-flags }}-logs

    - name: Dump Artifacts
      if: ${{ failure() }}
      run: |
        if [[ -d ${{ env.ARTIFACTS }} ]]; then
          cd ${{ env.ARTIFACTS }}
          for x in $(find . -type f); do
            echo "::group:: artifact $x"
            cat $x
            echo '::endgroup::'
          done
        fi
