# The slash workflow handles slash commands
#
# Slash commands are given through comments on pull requests
# and may be used only by individuals with "write" access to
# the repository (i.e. maintainers).
#
# Slash commands must be placed at the very beginning of the
# first line of a comment. More details are available in the
# action docs: https://github.com/peter-evans/slash-command-dispatch/tree/main?tab=readme-ov-file#how-comments-are-parsed-for-slash-commands
#
# The workflow looks for and dispatches to another workflow
# named <command>-command which must exist in the repository.
#
# Supported commands:
# - /retest: re-trigger workflows that failed on a given PR
# - /e2e-extras: run extra e2e tests on a given PR
# - /cherry-pick <branch>: cherry-picks the merged PR to the specified branch
#
# When a command is recognised, the rocket and eyes emojis are added

name: Slash Command Routing
on:
  issue_comment:
    types: [created]

jobs:
  check_comments:
    runs-on: ubuntu-latest
    steps:
    - name: route-land
      uses: peter-evans/slash-command-dispatch@9bdcd7914ec1b75590b790b844aa3b8eee7c683a # v5.0.2
      with:
        token: ${{ secrets.CHATOPS_TOKEN }}
        config: >
          [
            {
              "command": "retest",
              "permission": "write",
              "issue_type": "pull-request",
              "repository": "tektoncd/pipeline"
            },
            {
              "command": "e2e-extras",
              "permission": "write",
              "issue_type": "pull-request",
              "repository": "tektoncd/pipeline"
            },
            {
              "command": "cherry-pick",
              "permission": "write",
              "issue_type": "pull-request",
              "repository": "tektoncd/pipeline"
            }
          ]
