name: 'woke'
on:
  - pull_request
jobs:
  woke:
    name: 'woke'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v2

      - uses: jitterbit/get-changed-files@v1
        id: files

      - name: 'woke'
        uses: get-woke/woke-action@v0
        with:
          # Cause the check to fail on any broke rules
          fail-on-error: true
          # See https://github.com/marketplace/actions/get-all-changed-files
          # for more options
          woke-args: ${{ steps.files.outputs.added_modified }}
